* {

    margin: 0;
    padding: 0;

}

body{

    background-image: linear-gradient(10deg, #12263a 25%, #f6f7eb 25%, #12263a 50%, 
    #12263a 75%, #f6f7eb 75%,  #12263a 100%);

}

a {

    text-decoration: none;
    color:#12263a;

}

ul {

    text-decoration: none;
    list-style-type: none;
    text-align: right;
    background-color: #820933;
    margin: 2vw;

}

li {

    background-color: #820933;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f6f7eb;
    font-size: x-small;
    line-height: 1.4;

}

.footer-block-container {

    display: flex;
    justify-content: end;
    margin-top: 10vw;
    height: auto;
    width: auto;
    background-color: #820933;

}



/* Nav-wrapper */

.navbar-container {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}

.navbar {

    background-color: #f6f7eb;
    border: 2px solid transparent; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    margin: 20px 10px;
    padding: 5px 20px; 
    position: relative;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.35s ease, color 0.35s ease, border-color 0.35s ease;
    transition: padding 0.5s ease;

}
.navbar:hover {

    background-color: #820933; 
    color:rgb(246, 247, 235); 
    border-color: rgb(246, 247, 235); 

}

.navbar:active {

    padding-left: 30px;
    padding-right: 30px;

}




/* About me section  */

.about-me-section {

    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;

}

.block1 {

    display: flex;
    width: auto;
    height: 100%;
    background-color: #f6f7eb;
    justify-content: right;
    margin-left: 2%;

}


.block2 {

    display: flex;
    height: 400px;
    margin-top: 1vw;
    flex-grow: 1;
    justify-content: center;

}

.block2 img {

    max-width: 65%;
    height: auto;
    border-radius: 40px;

}

.block3 {

    display: flex;
    width: 450px;
    height: 350px;
    border-radius: 40px;
    background-color: #820933;
    margin-top: 10%;
    color: #f6f7eb;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 25px;
    font-weight: 500;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.block3 p {

    background-color: #820933;

}

.wrapper {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}



/* Report section */


.report-section {

    display: flex;
    justify-content: center;
    height: 30vh;
    background-color: #f6f7eb;

}

.reflection {

    background-color: aqua;
    width: 20vh;
    height: 200px;

}





/*  Carp page starts  */


.boxes-container-carp {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

}

.box {

    width: 40vw;

}

.box-img-carp img {

    width: 70%;
    height: auto;
    border-radius: 40px;
    margin-top: 4vw;
    border: solid 4px #f6f7eb;
    transition: transform 0.6s ease;

}

.box-img-carp img:hover {

    transform: scale(110%);
    
}

.box-text-carp {

    display: flex;
    line-height: 1.8;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    font-weight: 400;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f6f7eb;

}

.box-text-carp {

    width: 30vw;

}

.box1-carp {
    
    display: flex;
    justify-content: start;

}

.box5-carp {

    display: flex;
    justify-content: start;

}

.box4-carp {

    display: flex;
    justify-content: end;

}

.box8-carp {
    
    display: flex;
    justify-content: end;

}





