* {

    margin: 0;
    padding: 0;

}

a {

    text-decoration: none;
    color:#12263a;

}

ul {

    text-decoration: none;
    list-style-type: none;
    text-align: right;
    background-color: #820933;
    margin: 2vw;

}

li {

    background-color: #820933;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f6f7eb;
    font-size: x-small;
    line-height: 1.4;

}

.footer-block-container {

    display: flex;
    justify-content: end;
    margin-top: 10vw;
    height: auto;
    width: auto;
    background-color: #820933;

}



/* Nav-wrapper */

.home-page {

    background-color: #12263a;

}

.navbar-container {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}

.navbar {

    background-color: #f6f7eb;
    border: 2pt solid transparent; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    margin: 20pt 10pt;
    padding: 5pt 20pt; 
    position: relative;
    border-radius: 10pt;
    text-align: center;
    transition: background-color 0.35s ease, color 0.35s ease, border-color 0.35s ease;
    transition: padding 0.5s ease;

}
.navbar:hover {

    background-color: #820933; 
    color:rgb(246, 247, 235); 
    border-color: rgb(246, 247, 235); 

}

.navbar:active {

    padding-left: 30px;
    padding-right: 30px;
    background-color: #820933;

}




/* About me section  */

.about-me-section-container {

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    
}

.columns {

    display: flex;
    justify-content: center;
    width: 50%;
    height: 50%;

}

.column1 img {

    width: 92%;
    padding-left: 20%;
 
}

.column2 {

    flex: 1;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.block2 {

    display: flex;
    align-items: center;
    justify-content: center;

}

.block2 img {

    max-width: 40%;
    height: auto;
    border-radius: 40pt;
    margin-bottom: 2%;

}

.block3 {

    display: flex;
    width: 50%;
    height: 20%;;
    border-radius: 40px;
    background-color: #820933;
    color: #f6f7eb;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-left: 20%;
    padding: 25pt 25pt;
    font-weight: 500;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.block3 p {

    background-color: #820933;

}




/* Report section */


.report-section {

    display: flex;
    justify-content: center;
    height: 30vh;
    background-color: #f6f7eb;

}

.reflection {

    flex: 1 1 70%;
    background-color: #f6f7eb;
    border-radius: 20pt;
    margin: 5% 15%;
    text-align: center;
    padding: 2%;
    text-align: justify;

}

.reflection h1 {
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(46, 42, 42);
    text-align: center;
    margin-bottom: 1%;

}

.reflection p {
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(46, 42, 42);

}







/*  Carp page starts  */


.carp-page {

    background-image: linear-gradient(10deg, #12263a 25%, #f6f7eb 25%, #12263a 50%, 
    #12263a 75%, #f6f7eb 75%,  #12263a 100%);

}

.boxes-container-carp {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.box {

    width: 40%;
    min-width: 500px;

}

.box-img-carp img {

    width: 70%;
    border-radius: 40px;
    margin-top: 4vw;
    border: solid 4pt #f6f7eb;
    filter: grayscale(100%);
    transition: transform 0.6s ease;

}

.box-img-carp img:hover {

    transform: scale(110%);
    filter: grayscale(0%);
    
}

.box-text-carp {

    display: flex;
    line-height: 1.8;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    font-weight: 400;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #12263a;

}

.box-text-carp p{

    background-color: #f6f7eb;
    border-radius: 20pt;
    padding: 10pt;

}

.box-text-carp h2{

    color: #f6f7eb;
    background-color: #820933;
    border-radius: 40pt;
    padding-left: 5pt;
    padding-right: 5pt;
    margin-bottom: 2%;

}

.box-text-carp {

    width: 30vw;
    min-width: 400px;
    margin: 5%;

}

.box1-carp {
    
    display: flex;
    justify-content: center;

}

.box1-carp3 {
    
    display: flex;
    justify-content: center;
    min-width: 50%;

}

.box5-carp {

    display: flex;
    justify-content: center;

}

.box4-carp {

    display: flex;
    justify-content: center;

}

.box8-carp {
    
    display: flex;
    justify-content: center;

}

.box7-carp {

    display: flex;
    justify-content: end;
}








/* Typography page */

.typography-page {

    background-image: radial-gradient( #f6f7eb, #12263a, #f6f7eb, #12263a, #f6f7eb, #12263a);
}

.typography-page {

    background-color: #12263a;

}

.typo-container {

    display: flex;
    flex-wrap: wrap;

}

.items-typo {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
    height: 40%;
    flex-direction: column;

}

.items-typo img {

    border-radius: 40pt;
    width: 80%;
    border: solid 4pt #f6f7eb;
    transition: transform 0.6s ease;
    
}

.items-typo img:hover {

    transform: scale(105%);
}

.item7 {

    margin-left: 16.5%;
}

.items-typo h2 {

    background-color: #f6f7eb;
    border-radius: 2vw;
    margin-top: 2%;
    padding: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.items-typo p {

    background-color: #f6f7eb;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5vw;
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 4%;;
    padding: 0.5vw;
    width: 30vw;
    text-align: center;
    
}






/* Coding page */

.coding-page {

    background-image: radial-gradient( #820933 20%, #12263a 60%);

}

.worksheets-container {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.sections {

    /* background-color: #f6f7eb; */
    width: 50%;
    border-radius: 20pt;
    text-align: center;

}

.weeks {

    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f6f7eb;
    width: 98%;
    margin-bottom: 3%;

}

.week4-5 { 

    margin-bottom: 0%;

}

.sheets  {

    width: 70%;
    border: solid 2pt black;
    padding: 0%;
    border-radius: 10pt;
    
}




